# ============================================
# SAYERLI - Configuration Environnement
    # ============================================

    # Base de données PostgreSQL
    DATABASE_URL="postgresql://postgres:Lwalida1986@@@localhost:5432/Sayerli?schema=public"

    # JWT Authentication
    JWT_SECRET="p9VfR4mLx7Qz2kN8cD6sT1hJ5wA0uYb3Gf9Xn2Rp6Lm8VcQ7zJd4KsT1bN6hP"
    JWT_EXPIRATION="7d"

    # Serveur
    PORT=3000
    NODE_ENV=development

    # App
    APP_NAME="Sayerli"
    APP_URL="http://localhost:3000"
