# Dépendances
node_modules/
dist/

# Variables d'environnement (NE JAMAIS COMMITTER)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Next.js build output & cache
frontend/.next/
frontend/out/

# Prisma
prisma/migrations/
.vercel
